/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

*{
    padding:0;
    margin: 0;
}
body {
    font-size: 10px;
    line-height: 3.5em;
    font-weight: 300;
}
.header {
    font-size: 5em;
    position: absolute;
    margin-top: 0%;
    text-align:center;
    color: white;
}
.header img {
    width: 100%; 
    padding: 0px;
}
h1 {
    font-size: 1em;
    text-align: center;
    margin-top: -50%;
    color: white;
    font-family: Arial;
}
h2{
    font-size: 3em;
    text-align: center;
    margin-top: 20%;
    color: black;
    font-family: Arial;
}
h3{
    font-size: 1.5em;
    text-align: center;
    color: #00B172;
    text-anchor: middle;
    font-family: Arial;
}
h4{
    font-size: 3em;
    text-align: left;
    margin-top: 5%;
    padding: 1px 4%;
    color: white;
    font-family: Arial;
    text-decoration: underline;
}
h5{
    font-size: 2em;
    text-align: left;
    margin-top: 5%;
    padding: 1px 4%;
    color: white;
    font-family: Arial;
}

.navbar img {
    width: 15%; 
    align-items:left;
    padding: 1px 1%;
    margin-top: 1%;
}
.navbar div{
    padding: 1px 1%;
    display: flex;
    flex-direction: row;
    margin-top: -4%;
    justify-content: flex-end;
    font-size: 1.2em;
    font-family: Arial;

    
}
.navbar a{
    font-size: 1.5em;
    color: black;
    font-family: Arial;
    

}
.header{
   background-position: 0 0;
   background-size: cover; 
   background-repeat: no-repeat;
   height: 650px;
   padding-top: 10px;
   position: relative;
   
}

.header p {
    
    position: relative;
    margin-top: 5%;
    text-align: center;
    color: white;
    font-size: 0.6em;
    font-family: Arial;
    padding: 10px 22%;
 }

 .service {
     font-size: 2em;
     text-align: center;
     border-radius: 10 px;
     box-sizing: border-box;
     margin: 10px 0% 10 0%;
     padding: 10px;
     width: 25%;
     font-family: Arial;

 }

 .service img {
    width: 100px;
 }
 .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
 }
 .container2 {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    background-color: #00B172;
    
 }

.container2 p {
    font-size: 1.5em;
    padding: 1px 4%;
    color: white;
    font-family: Arial;
   

}

.container3 img {
    width: 9%; 
    padding: 200px 50%;
    margin-top: -50%;
}
.container4 img{
    width: 19%; 
    padding: 100px 70%;
    margin-top: -50%;
}
